<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">AdvTabo</a>
    <button (click)="homeRedirect()" style="margin-right: 80%;"class="btn btn-outline-success">All</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <button *ngIf="isUserLoggedIn()" (click)="goToAdd()" class="btn btn-outline-success">Add new</button>
      <div fx-layout="row" fx-flex fx-layout-align="right">
        <button *ngIf="!isUserLoggedIn()" (click)="goToLogin()" class="btn btn-outline-success">Login</button>
        <button *ngIf="!isUserLoggedIn()" (click)="goToRegister()" class="btn btn-outline-success">Register</button>
        <button *ngIf="isUserLoggedIn()" (click)="logout()" class="btn btn-outline-success">Logout</button>
      </div>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<footer class="footer">
  <div class="content-inside">
    <span>Made by Grzegorz Taborski</span>
  </div>
</footer>
